.vs
\log
/alipay-sdk-NET20161213174056/
/F2FPayDll/
/WebService1/bin/
/WebService1/obj/
/WebService1.v11.suo
/WebService1.v12.suo
/WebService1 - 副本/
/WebService1/Web References/
/WebService1/Connected Services/
